In [1]:
import cobra.test
import cobra
import numpy as np
import matplotlib.pyplot as plt
import re

from matplotlib import cm
from mpl_toolkits.mplot3d import Axes3D
from cobra.flux_analysis import production_envelope
from numpy import zeros

In [2]:

model= cobra.io.load_matlab_model(
    "12934_2013_907_MOESM6_ESM")

In [3]:
model

In [4]:
solution=model.optimize()
model.summary()

IN FLUXES           OUT FLUXES    OBJECTIVES
------------------  ------------  ----------------------
h2[e]   100         h2o[e]  55    Cl_biomass_D...  0.189
co2[e]   48.6       h[e]    21.3
nh4[e]    1.43      ac[e]   20.2
pi[e]     0.218
k[e]      0.036
so4[e]    0.0356
fe2[e]    0.00261
mg2[e]    0.0016
ca2[e]    0.000961
cl[e]     0.000961
fol[e]    0.000168
cu2[e]    0.000131
mn2[e]    0.000128

In [5]:
import re

def buscarMetabolito(nombreMetabolite):
    metabolites=[]
    for metabolite in model.metabolites:
        if re.match(nombreMetabolite,metabolite.name,re.IGNORECASE):# and re.match("_e",metabolite.name): 
            metabolites.append(metabolite)
    if len(metabolites)==0:
        print "Not found metabolite"
        return None
    else: #print "2 lets find the reactions associated with the name"
        for metabolite in metabolites:
            print "=================================="
            print metabolite.name, metabolite.id
            print "=================================="
            for reaction in model.metabolites.get_by_id(metabolite.id).reactions:
                print reaction
result=buscarMetabolito("something")

Not found metabolite

In [6]:
fru = model.reactions.get_by_id("EX_fru(e)")
print fru
print fru.reaction
print fru.name


print(fru.lower_bound, "< fru <", fru.upper_bound)

print"======================================================="

h2 = model.reactions.get_by_id("EX_h2(e)")
print h2
print h2.reaction
print h2.name


print(h2.lower_bound, "< h2 <", h2.upper_bound)

print"======================================================="

co2 = model.reactions.get_by_id("EX_co2(e)")
print co2
print co2.reaction
print co2.name


print(co2.lower_bound, "< co2 <", co2.upper_bound)


#para hacer autotrofica este modelo eliminaron o disminuieron a 0 la reaccion original EX_fru_e, crearon una muy parecido con un nuevo nombre
#no estoy seguro si primero aumentaron los rango de CO2 y H2 despues atacaron al modelo o alreves

EX_fru(e): fru[e] -->
fru[e] -->
D-Fructose exchange
(0.0, '< fru <', 1000.0)
=======================================================
EX_h2(e): h2[e] <=>
h2[e] <=>
H2 exchange
(-100.0, '< h2 <', 1000.0)
=======================================================
EX_co2(e): co2[e] <=>
co2[e] <=>
CO2 exchange
(-50.0, '< co2 <', 1000.0)

In [7]:
%matplotlib inline
from cobra.flux_analysis import production_envelope
prod_env = production_envelope(model, ["EX_co2(e)", "EX_h2(e)"])
prod_env.head(23)

,carbon_source,carbon_yield_maximum,carbon_yield_minimum,flux_maximum,flux_minimum,mass_yield_maximum,mass_yield_minimum,EX_co2(e),EX_h2(e)
0,"EX_btn(e), EX_thm(e), EX_fol(e), EX_ribflv(e),...",1.603825,0.0,0.157355,0.0,NaN,NaN,-50.000000,-100.000000
1,"EX_btn(e), EX_thm(e), EX_fol(e), EX_ribflv(e),...",0.928564,0.0,0.091100,0.0,NaN,NaN,-50.000000,-94.863158
2,"EX_btn(e), EX_thm(e), EX_fol(e), EX_ribflv(e),...",0.253254,0.0,0.024846,0.0,NaN,NaN,-50.000000,-89.726316
3,"EX_btn(e), EX_thm(e), EX_fol(e), EX_ribflv(e),...",NaN,NaN,NaN,NaN,NaN,NaN,-50.000000,-84.589474
4,"EX_btn(e), EX_thm(e), EX_fol(e), EX_ribflv(e),...",NaN,NaN,NaN,NaN,NaN,NaN,-50.000000,-79.452632
5,"EX_btn(e), EX_thm(e), EX_fol(e), EX_ribflv(e),...",NaN,NaN,NaN,NaN,NaN,NaN,-50.000000,-74.315789
6,"EX_btn(e), EX_thm(e), EX_fol(e), EX_ribflv(e),...",NaN,NaN,NaN,NaN,NaN,NaN,-50.000000,-69.178947
7,"EX_btn(e), EX_thm(e), EX_fol(e), EX_ribflv(e),...",NaN,NaN,NaN,NaN,NaN,NaN,-50.000000,-64.042105
8,"EX_btn(e), EX_thm(e), EX_fol(e), EX_ribflv(e),...",NaN,NaN,NaN,NaN,NaN,NaN,-50.000000,-58.905263
9,"EX_btn(e), EX_thm(e), EX_fol(e), EX_ribflv(e),...",NaN,NaN,NaN,NaN,NaN,NaN,-50.000000,-53.768421
10,"EX_btn(e), EX_thm(e), EX_fol(e), EX_ribflv(e),...",NaN,NaN,NaN,NaN,NaN,NaN,-50.000000,-48.631579
11,"EX_btn(e), EX_thm(e), EX_fol(e), EX_ribflv(e),...",NaN,NaN,NaN,NaN,NaN,NaN,-50.000000,-43.494737
12,"EX_btn(e), EX_thm(e), EX_fol(e), EX_ribflv(e),...",NaN,NaN,NaN,NaN,NaN,NaN,-50.000000,-38.357895
13,"EX_btn(e), EX_thm(e), EX_fol(e), EX_ribflv(e),...",NaN,NaN,NaN,NaN,NaN,NaN,-50.000000,-33.221053
14,"EX_btn(e), EX_thm(e), EX_fol(e), EX_ribflv(e),...",NaN,NaN,NaN,NaN,NaN,NaN,-50.000000,-28.084211
15,"EX_btn(e), EX_thm(e), EX_fol(e), EX_ribflv(e),...",NaN,NaN,NaN,NaN,NaN,NaN,-50.000000,-22.947368
16,"EX_btn(e), EX_thm(e), EX_fol(e), EX_ribflv(e),...",NaN,NaN,NaN,NaN,NaN,NaN,-50.000000,-17.810526
17,"EX_btn(e), EX_thm(e), EX_fol(e), EX_ribflv(e),...",NaN,NaN,NaN,NaN,NaN,NaN,-50.000000,-12.673684
18,"EX_btn(e), EX_thm(e), EX_fol(e), EX_ribflv(e),...",NaN,NaN,NaN,NaN,NaN,NaN,-50.000000,-7.536842
19,"EX_btn(e), EX_thm(e), EX_fol(e), EX_ribflv(e),...",NaN,NaN,NaN,NaN,NaN,NaN,-50.000000,-2.400000
20,"EX_btn(e), EX_thm(e), EX_fol(e), EX_ribflv(e),...",2.009802,0.0,0.186999,0.0,NaN,NaN,-47.415789,-100.000000
21,"EX_btn(e), EX_thm(e), EX_fol(e), EX_ribflv(e),...",1.606053,0.0,0.149430,0.0,NaN,NaN,-47.415789,-94.863158
22,"EX_btn(e), EX_thm(e), EX_fol(e), EX_ribflv(e),...",0.893988,0.0,0.083175,0.0,NaN,NaN,-47.415789,-89.726316

In [8]:
prod_env = production_envelope( model, ["EX_h2(e)"],  carbon_sources="EX_co2(e)")
prod_env.head()

,carbon_source,carbon_yield_maximum,carbon_yield_minimum,flux_maximum,flux_minimum,mass_yield_maximum,mass_yield_minimum,EX_h2(e)
0,EX_co2(e),1.976717,0.0,0.188562,0.0,NaN,NaN,-100.000000
1,EX_co2(e),1.974011,0.0,0.178637,0.0,NaN,NaN,-94.863158
2,EX_co2(e),1.970994,0.0,0.168713,0.0,NaN,NaN,-89.726316
3,EX_co2(e),1.967611,0.0,0.158789,0.0,NaN,NaN,-84.589474
4,EX_co2(e),1.963792,0.0,0.148864,0.0,NaN,NaN,-79.452632

In [ ]:

%matplotlib inline
from cobra.flux_analysis import production_envelope
prod_env = production_envelope(model, ['EX_h2(e)', "EX_co2(e)"]) 
# Extrae los valores de cada flux sin repetirlos
xlabels=np.unique(prod_env['EX_h2(e)'])
ylabels=np.unique(prod_env["EX_co2(e)"])

mat=np.zeros((20,20))
for i in range(20):
    mat[i,0:20]=prod_env["flux_maximum"][i*20:(i+1)*20]

fig,ax=plt.subplots()
ax.set_xticks(np.arange(len(xlabels)))
ax.set_yticks(np.arange(len(ylabels)))

ax.set_xticklabels(xlabels)
ax.set_yticklabels(ylabels)    
plt.setp(ax.get_xticklabels(), rotation=45, ha="right",
         rotation_mode="anchor")
ax.set_title("Biomase production")
ax.set_ylabel("Hydrogen")
ax.set_xlabel("Carbon Dioxide")
mat[np.isnan(mat)]=0
ax.imshow(mat)

In [ ]:
%matplotlib inline
from cobra.flux_analysis import production_envelope
prod_env = production_envelope(model, ['EX_h2(e)', "EX_co2(e)"]) 
# Extrae los valores de cada flux sin repetirlos
X=np.unique(prod_env['EX_h2(e)'])
Y=np.unique(prod_env["EX_co2(e)"])
data_Z = prod_env["flux_maximum"]
    
num_dat= len(X)                                   # Cantidad de datos unicos
matriz = np.zeros((num_dat,num_dat))
for i in range(num_dat):
    matriz[i,:] = data_Z[num_dat*i:num_dat*(i+1)]
matriz[np.isnan(matriz)] = 0.0 

fig  = plt.figure()
ax   = Axes3D(fig)
X, Y = np.meshgrid(X, Y)
surf = ax.plot_surface(X, Y, matriz, rstride=1, cstride=1, linewidth=1, antialiased=True, cmap=plt.cm.CMRmap)
# Formato adicional del grafico
ax.view_init(elev =None, azim =60)
ax.set_xlabel("Glucose [mmol/g/h]")
ax.set_ylabel("Oxigen [mmol/g/h]")
ax.set_zlabel("Growth rate [1/h]")
plt.title("BIOMASS PRODUCTION")

plt.show()